@model ProjektIP.Models.MeetingModel

<script>

    $(function () {
        $('[data-toggle="tooltipTask"]').tooltip(
            {
                trigger: 'hover'
            }
        );
        getEmployees()
        setHiddenData();
        changeFormatOfDateTime();
    });


    function getEmployees() {
        $.ajax({
            type: "GET",
            url: "/Employee/MemberList/",
            data: {
                showPresent: true,
                meetingId: "@(ViewBag.meetingId)"
            } ,
            success: function (viewHTML) {
                $("#employees").html(viewHTML);

                
            },
            error: function (errorData) {
                console.log(errorData);
            }
        });
    }

     function changeFormatOfDateTime() {
         var dateStart = '@(Model.DateStart)';
         var dateStartString = dateStart.substring(0,10);
         var dateEnd = '@(Model.DateEnd)';
         var dateEndString = dateEnd.substring(0, 10);
         
         var hourStart= '@(Model.HourStart)';
         var hourStartString = hourStart.substring(0,5);
         var hourEnd = '@(Model.HourEnd)';
         var hourEndString = hourEnd.substring(0, 5);

         $('[name = "datestart"]').val(dateStartString);
         $('[name = "dateend"]').val(dateEndString);

         $('#hourStart').val(hourStartString);
         $('#hourEnd').val(hourEndString);
    }


    //Polski język w datepickerze
    $.fn.datepicker.dates['polski'] = {
        days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"],
        daysShort: ["Nie", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
        daysMin: ["N", "P", "W", "Ś", "C", "Pt", "S"],
        months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
        monthsShort: ["Sty", "Lut", "Mar", "Kwi", "Maj", "Cze", "Lip", "Sie", "Wrz", "Paź", "Lis", "Gru"],
        today: "Dzisiaj",
        clear: "Wyczyść",
        format: "dd.mm.yyyy",
        titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
        weekStart: 1
    };

    // DatePicker
    $(document).ready(function () {
        var date_input = $('input[id="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var today = '@(ViewBag.Today)';
        date_input.datepicker({
            container: container,
            todayHighlight: false,
            autoclose: true,
            orientation: 'top',
            language: 'polski',
            todayHighlight: true,
            startDate: today
        })
    })

    function selectOldEmployee() {
        var string = " ";
        string ="@(ViewBag.membersId)";
        var split = string.split(",");
        split.forEach((item, index) => { 
            if (item != "") {
                var control = "#listEmployee" + item;
                $(control).addClass("border-to-members");
            }
        });
        $("#newIdMembers").val(string);
    }

    function setHiddenData() {
        var typeid = document.getElementById('typeId').value;
        var priorityid = document.getElementById('priorityId').value;
        var roomid = document.getElementById('roomId').value;
        console.log(typeid);
        switch (typeid) {
            case "1":
                document.getElementById("imgMeeting").src = "../Content/Image/meeting_color.png";
                document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
                document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
                document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
                document.getElementById("location").style.display = "none";
                document.getElementById("roomName").style.display = "initial";
                break;
            case "2":
                document.getElementById("imgCar").src = "../Content/Image/car_color.png";
                document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
                document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
                document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
                document.getElementById("location").style.display = "initial";
                document.getElementById("roomName").style.display = "none";
                break;
            case "3":
                document.getElementById("imgPhone").src = "../Content/Image/phone_color.png";
                document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
                document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
                document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
                document.getElementById("location").style.display = "none";
                document.getElementById("roomName").style.display = "initial";
                break;
            case "4":
                document.getElementById("imgSchool").src = "../Content/Image/school_color.png";
                document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
                document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
                document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
                document.getElementById("location").style.display = "none";
                document.getElementById("roomName").style.display = "initial";
                break;
            default:
                document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
                document.getElementById("imgPhone").src = "../Content/Image/phone__grey.png";
                document.getElementById("imgCar").src = "../Content/Image/car__grey.png";
                document.getElementById("imgMeeting").src = "../Content/Image/meeting__grey.png";
                document.getElementById("location").style.display = "initial";
                document.getElementById("roomName").style.display = "initial";
                break;
        }


        switch (priorityid) {
            case "1":
                $("#priority").val(1);
                break;
            case "2":
                $("#priority").val(2);
                break;
            case "3":
                $("#priority").val(3);
                break;
            case "4":
                $("#priority").val(4);
                break;
            default:
                $("#priority").val(4);
                break;
        }

        //if (roomid != "") {
        //    $('#roomName').val(roomid);
        //}
        //else { 
        //    $('#roomName').val("inne");
        //    document.getElementById("location").style.display = "initial";
        //}

        
        var location = document.getElementById("locationName").value;
        if (location == "" || location==null) {
            $('#roomName').val(roomid);
        }
        else {
            $('#roomName').val("inne");
            document.getElementById("location").style.display = "initial";
            roomid = null;
        }
        

    }

    //TYP Spotkania
    //document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
    function switchPhone(img) {
        var roomid = document.getElementById('roomId').value;

        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/phone_color.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(3);

            if(roomid!="")
                document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/phone_grey.png";
            $("#typeId").val(0);
        }
    }

    //document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
    function switchCar(img) {
        var roomid = document.getElementById('roomId').value;
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/car_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(2);

            document.getElementById("location").style.display = "initial";
            document.getElementById("roomName").style.display = "none";
            $("#roomId").val("");
            $("#roomName").val("inne");
        }
        else {
            img.src = "../Content/Image/car_grey.png";
            $("#typeId").val(0);
            if (roomid != "")
                document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
    }

    //document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
    function switchMeeting(img) {
        var roomid = document.getElementById('roomId').value;
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/meeting_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(1);

            if (roomid != "")
                document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/meeting_grey.png";
            $("#typeId").val(0);
        }
    }

    //document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
    function switchSchool(img) {
        var roomid = document.getElementById('roomId').value;
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/school_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            $("#typeId").val(4);

            if (roomid != "")
                document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/school_grey.png";
            $("#typeId").val(0);
        }
    }

    //PRIORYTET

    function changePriority() {
        var value = $("#priority").val();
        $("#priorityId").val(value);
    }

    //POKOJE
    function changeRoom() {
        var value = $("#roomName").val();
        if (value != "inne") {
            $("#roomId").val(value);
            document.getElementById("location").style.display = "none";
            $("#locationName").val("");
        }
        else {
            $("#roomId").val("");
            document.getElementById("location").style.display = "initial";
        }
    }

    //PRACOWNICY
    function changeEmployee(id) {
        if ($("#listEmployee" + id).hasClass("border-to-members")) {
            var string = "";
            string = newIdMembers.value;

            var split =string.split(",");
            //var replaceId = "," + id;
            //string.replace(',', '');
           // $("#newIdMembers").val(string);

            split.forEach((item, index) => {
                if (item == id) {
                    split[index] = null;
                }
            });
            $("#listEmployee" + id).removeClass("border-to-members");
            var join = split.join();
            $("#newIdMembers").val(join);

        }
        else {
            $("#listEmployee" + id).addClass("border-to-members");
            $("#newIdMembers").val(newIdMembers.value + id + "," );
        }

    }

    //DATA START -> END

    //function changeDate() {
    //    var value = $("#datestart").val();
    //    $("#dateend").val(value);
    //}

    $('.clockpicker').clockpicker();

    function openDatePicker(target) {
        $('[name = "' + target + '"]').datepicker('show');
    }
</script>
<div class="row">
    <form id="partialViewForm" action="/Meeting/PushEditMeetingToDB" method="post">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div hidden>
                <input asp-for="MeetingTypeId" id="typeId" class="form-control" />
            </div>
            <div row>
                <h4>Typ wydarzenia:</h4>
                <br />
                <img height="50" width="50" onclick="switchPhone(this)" id="imgPhone" title="Tele konferencja" data-toggle="tooltipTask" class="grey-tooltip" />
                <img height="50" width="50" onclick="switchCar(this)" id="imgCar" title="Wyjazd" data-toggle="tooltipTask" class="grey-tooltip" />
                <img height="50" width="50" onclick="switchMeeting(this)" id="imgMeeting" title="Spotkanie" data-toggle="tooltipTask" class="grey-tooltip" />
                <img height="50" width="50" onclick="switchSchool(this)" id="imgSchool" title="Szkolenie" data-toggle="tooltipTask" class="grey-tooltip" />
            </div>
            <div class="form-group margin-top-20">
                <input asp-for="Title" class="form-control" placeholder="Nazwa wydarzenia" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <label asp-for="DateStart" class="control-label">Data od:</label>
            <div class="form-group input-group">
                <input asp-for="DateStart" class="form-control" id="date" name="datestart" placeholder="DD.MM.YYYY" type="text" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
                <span class="input-group-addon img-button" onclick="openDatePicker('datestart')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="form-group input-group clockpicker" data-autoclose="true">
                <input asp-for="HourStart" class="form-control" placeholder="00:00" id="hourStart" />
                <span asp-validation-for="HourStart" class="text-danger"></span>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>

            <label asp-for="DateEnd" class="control-label">Data do:</label>
            <div class="form-group input-group">
                <input asp-for="DateEnd" class="form-control" id="date" name="dateend" placeholder="DD.MM.YYYY" type="text" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
                <span class="input-group-addon img-button" onclick="openDatePicker('dateend')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="form-group input-group clockpicker" data-autoclose="true">
                <input asp-for="HourEnd" class="form-control" placeholder="00:00" id="hourEnd" />
                <span asp-validation-for="HourEnd" class="text-danger"></span>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
            <div hidden>
                <label asp-for="RoomId" class="control-label"></label>
                <input asp-for="RoomId" class="form-control" id="roomId" />
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-20" id="room">
                @* <label asp-for="RoomName" class="control-label">Pokój:</label>*@
                <span asp-validation-for="RoomName" class="text-danger"></span>
                <select class="custom-select form-control" onchange="changeRoom()" id="roomName">
                    <option value="" disabled selected>Pokój:</option>
                    @foreach (var item in ViewBag.listOfRooms)
            {
                <option value=@(item[0])>@(item[1])</option>
    }
                    <option value="inne">Inne</option>
                </select>
            </div>
            <div class="form-group margin-top-20" id="location">
                @*<label asp-for="Location" class="control-label"></label>*@
                <input asp-for="Location" class="form-control " placeholder="Lokalizacja" id="locationName" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-20">
                <input asp-for="Note" class="form-control" placeholder="Opis" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div hidden>
                <input asp-for="PriorityId" class="control-label" name="priorityId" id="priorityId">
            </div>
            <span asp-validation-for="PriorityId" class="text-danger"></span>
            <select class="custom-select form-control margin-bottom-20 margin-top-20" onchange="changePriority()" id="priority">
                <option value="" disabled selected>Priorytet:</option>
                <option value="1">Pilny</option>
                <option value="2">Normalny</option>
                <option value="3">Niski</option>
                <option value="4">Opcjonalny</option>
            </select>

            <button class="btn tn-login font-white background-blue center-block" type="button" id="addressSearch" onclick="location.href='@Url.Action("DeleteMeetingFromDB","Meeting",new { id=Model.Id })'">Odwołaj wydarzenie</button>
        </div>
        <div class="col-md-6 main-height">

            <div style="margin-left:75px" class="form-group" id="employee">
                <h4>Wybierz uczestników:</h4>
                @*<label asp-for="Members" class="control-label">Wybierz uczestników:</label>
                <div hidden>
                    <input asp-for="Members" name="member" id="member" class="form-control" />
                    <span asp-validation-for="Members" class="text-danger"></span>
                </div>*@
            </div>
            <div class="border-corners task-height scroll5 scroll-container" id="employees"></div>
        </div>

        <div hidden>
            <input name="oldIdMembers" id="oldIdMembers" class="form-control" value="@(ViewBag.membersId)" />
            <input name="newIdMembers" id="newIdMembers" class="form-control" />
        </div>
    </form>
</div>


