@model IEnumerable<ProjektIP.Models.EmployeeModel>

@{
    ViewData["Title"] = "EmployeeList";
}

<script src="~/js/Task.js"></script>
<div id="@("accordion" + ViewBag.Column)">
    @foreach (var item in Model)
    {
        string colorClass;
        string borderClass;
        string imagePath;
        string priorityPath;
        switch (item.PositionId)
        {
            case 1:
                colorClass = "background-yellow";
                borderClass = "border-type-yellow";
                imagePath = "~/Content/Image/meeting_white.png";
                break;

            case 2:
                colorClass = "background-green";
                borderClass = "border-type-green";
                imagePath = "~/Content/Image/car_white.png";
                break;

            case 3:

                colorClass = "background-lightblue";
                borderClass = "border-type-lightblue";
                imagePath = "~/Content/Image/phone_white.png";
                break;

            case 4:
                colorClass = "background-red";
                borderClass = "border-type-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            case 5:
                colorClass = "background-red";
                borderClass = "border-type-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            case 6:
                colorClass = "background-red";
                borderClass = "border-type-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            case 7:
                colorClass = "background-red";
                borderClass = "border-type-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            default:
                colorClass = "background-blue";
                borderClass = "";
                imagePath = "~/Content/Image/car_white.png";
                break;
        }
        switch (item.PriorityId)
        {
            case 1:
                priorityPath = "~/Content/Image/priority_important.png";
                break;

            case 2:
                priorityPath = "~/Content/Image/priority_normal.png";
                break;

            case 3:
                priorityPath = "~/Content/Image/priority_low.png";
                break;

            case 4:
                priorityPath = "~/Content/Image/priority_optional.png";
                break;

            default:
                priorityPath = "~/Content/Image/priority_optional.png";
                break;
        }
        <div class="card">
            <div class="card-header" id="@(ViewBag.Column + "heading" + item.Id)">
                <h5 class="mb-0">
                    <button class="btn btn-link colapsed max-width padding-top-bottom-0" data-toggle="collapse" data-target="@(@"#" + ViewBag.Column + "collapse" + item.Id)" aria-expanded="true" aria-controls="@(ViewBag.Column + "collapse" + item.Id)">
                        <div class="@("row " + colorClass)">
                            <div class="col-md-2">
                                <img src="@Url.Content(imagePath)" alt="Typ" height="40" width="40" />
                            </div>
                            @{
                                string dates = item.HourStart.Hour.ToString() + ":" + item.HourStart.Minute.ToString();
                                if (item.HourEnd.HasValue)
                                {
                                    dates += " - ";
                                    dates += item.HourEnd.Value.Hour.ToString() + ":" + item.HourEnd.Value.Minute.ToString();
                                }
                            }
                            <div class="col-md-8 font-white">
                                @Html.DisplayFor(modelItem => item.Title) <br />
                                @Html.DisplayFor(modelItem => dates)
                            </div>
                            <div class="col-md-2">
                                @* tu bêdzie avatar!!!! *@
                            </div>
                        </div>
                    </button>
                </h5>
            </div>

            <div id="@(ViewBag.Column + "collapse" + item.Id)" class="collapse margin-top-minus10" aria-labelledby="@(ViewBag.Column + "heading" + item.Id)" data-parent="@(@"#" + ViewBag.Column + "accordion" + ViewBag.Column)">
                <div class="card-body">
                    <div class="@(borderClass)">
                        <b>Miejsce:</b>
                        @Html.DisplayFor(modelItem => item.Location)
                        @Html.DisplayFor(modelItem => item.RoomName)
                        <br />
                        <b>Autor:</b> @Html.DisplayFor(modelItem => item.EmployeeAuthorName) <br />
                        <b>Priorytet:</b> @Html.DisplayFor(modelItem => item.PriorityName) <img src="@Url.Content(priorityPath)" alt="Priorytet" height="20" width="20" />  <br />
                        <b>Opis:</b>
                        @Html.DisplayFor(modelItem => item.Note)
                        @if (item.EmployeeAuthorId != ViewBag.ActualUserId)
                        {
                            <div class="row text-center">
                                <img src="~/Content/Image/cross.png" height="35" width="35" />
                                <img src="~/Content/Image/tick.png" height="35" width="35" />
                            </div>
                        }
                        else
                        {
                            <div class="row text-center">
                                <button class="btn btn-login background-blue font-white" onclick="openEditMeetingModal()">Edytuj</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>