@model IEnumerable<ProjektIP.Models.EmployeeModel>

@{
    ViewData["Title"] = "EmployeeList";
}

<div id="@("accordion" + ViewBag.Column)">
    @foreach (var item in Model)
    {
        string colorClass;
        string imagePath;
        switch (item.PositionId)
        {
            case 1:
                colorClass = "background-yellow";
                imagePath = "~/Content/Image/meeting_white.png";
                break;

            case 2:
                colorClass = "background-green";
                imagePath = "~/Content/Image/car_white.png";
                break;

            case 3:

                colorClass = "background-lightblue";
                imagePath = "~/Content/Image/phone_white.png";
                break;

            case 4:
                colorClass = "background-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            case 5:
                colorClass = "background-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            case 6:
                colorClass = "background-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            case 7:
                colorClass = "background-red";
                imagePath = "~/Content/Image/school_white.png";
                break;

            default:
                colorClass = "background-blue";
                imagePath = "~/Content/Image/car_white.png";
                break;
        }
        <div class="card">
            <div class="card-header" id="@(ViewBag.Column + "heading" + item.Id)">
                <h5 class="mb-0">
                    <button class="btn btn-link colapsed max-width padding-top-bottom-0" data-toggle="collapse" data-target="@(@"#" + ViewBag.Column + "collapse" + item.Id)" aria-expanded="true" aria-controls="@(ViewBag.Column + "collapse" + item.Id)">
                        <div class="@("row " + colorClass)">
                            <div class="col-md-2">
                                <img src="@Url.Content(imagePath)" alt="Typ" height="40" width="40" />
                            </div>
                            <div class="col-md-8 font-white">
                                @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.SurName) <br />
                                @Html.DisplayFor(modelItem => item.PositionName)
                            </div>
                        </div>
                    </button>
                </h5>
            </div>
        </div>
    }
</div>