@model IEnumerable<ProjektIP.Models.EmployeeModel>

@{
	ViewData["Title"] = "EmployeeList";
}

<script>
	$(function () {
		if (typeof selectOldEmployee === "function")
			selectOldEmployee();
	});
</script>

<div id="@("accordion" + ViewBag.Column)">
	@foreach (var item in Model)
    {
        string imagePath;
        switch (item.PositionId)
        {
            case 1:
                imagePath = "~/Content/Image/avatar1.png";
                break;

            case 2:
                imagePath = "~/Content/Image/avatar2.png";
                break;

            case 3:
                imagePath = "~/Content/Image/avatar3.png";
                break;

            case 4:
                imagePath = "~/Content/Image/avatar4.png";
                break;

            case 5:
                imagePath = "~/Content/Image/avatar5.png";
                break;

            case 6:
                imagePath = "~/Content/Image/avatar6.png";
                break;

            case 7:
                imagePath = "~/Content/Image/avatar7.png";
                break;

            default:
                imagePath = "~/Content/Image/avatar_null.png";
                break;
        }

        string imagePathTickCross;
        switch (item.PositionId) //member decision
        {
            case 1:
                imagePathTickCross = "~/Content/Image/tick_without.png";
                break;

            case 2:
                imagePathTickCross = "~/Content/Image/cross_without.png";
                break;

            case 3:
                imagePathTickCross = "~/Content/Image/question.png";
                break;
            default:
                imagePathTickCross = "~/Content/Image/question.png";
                break;
        }

        string classTextContainer= "inline text-container2 font-black text-overflow-ellipsis";

        if (ViewBag.showPresent) { classTextContainer = "inline text-container font-black text-overflow-ellipsis"; }

    <div id="listEmployee@(item.Id)" class="employee-list-item" onclick="changeEmployee(@(item.Id))">

        <div class="inline">
            <img src="@Url.Content(imagePath)" alt="Typ" height="40" width="40" />
        </div>
        <div class="@(classTextContainer)">
            @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.SurName) <br />
            @Html.DisplayFor(modelItem => item.PositionName)
        </div>
        @if (ViewBag.showPresent)
        {
        <div class="inline">
            <img src = "@Url.Content(imagePathTickCross)" alt="Typ" height="40" width="40" />
        </div>
        }
    </div>
	}
</div>